/* Buttons */
button {
  background-color: transparent;
  border: 1px solid;
  color: #252a30;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 2rem;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #252a30;
  border-color: #252a30; 
  color: #fff;
}
#hero-button {
  color: #fff;
}
#hero-button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #252a30;
}
@media screen and (min-width: 550px) {
  button {
    font-size: 1rem;
    margin-top: 3rem;
    padding: 0.2rem 0.6rem;
  }
}
@media screen and (min-width: 750px) {
  button {
    border: 2px solid;
    font-size: 1.1rem;
    padding: 0.3rem 0.8rem;
  }
}
@media screen and (min-width: 1000px) {
  button {
    padding: 0.4rem 0.9rem;
  }
}

/* Containers */
.column {
  float: left;
  width: 100%;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1140px;
  overflow: auto;
  padding: 0 20px;
  position: relative;
}
.description-container {
  margin: 1rem 0;
}
.expertise-block {
  margin: 2rem 0 1rem;
}
footer {
  background-color: #252a30;
  color: rgba(255,255,255,0.4);
  padding: 4rem 0 3.5rem;
  text-align: center;
}
#footer-logo-container {
  color: rgba(255,255,255,0.4);
}
#hero {
  background-color: #252a30;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 350px;
  position: relative;
  text-align: center;
  width: 100%;
}
.hero-container {
  display: table;
  height: 100%;
  margin: 0 auto;
  max-width: 350px;
  padding: 0 20px;
}
.hero-content {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}
.intro {
  font-size: 1.3rem;
  margin: 3.3rem 0 0.8rem;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}
.learn-more-container {
  bottom: 2.5%;
  font-size: 0.9rem;
  left: 0px;
  padding: 20px;
  position: absolute;
  right: 0px;
  z-index: 2;
}
#logo-container {
  color: #fff;
  left: 0px;
  padding: 20px;
  position: absolute;
  right: 0px;
  top: 2.5%;
}
.made-by-me {
  margin: 1.2rem 0;
}
#me {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}
#me-header-container {
  float: left;
  width: 100%;
}
#personal-projects {
  background: #eee;
  text-align: center;
}
#personal-projects .expertise-block {
  margin: 0 auto;
  max-width: 75%;
}
section {
  overflow: auto;
  padding: 0 0 3rem;
}
.social-logos-container a {
  color: rgba(255,255,255,0.4);
  margin: 0 0.5rem;
}
#sub-footer {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media screen and (min-width: 550px) {
  .column {
    margin-left: 4%;
    width: 30.66%;
  }
  .column:nth-child(3n - 2) {
    margin-left: 0px;
  }
  .container {
    width: 80%;
  }
  #hero {
    background-image: linear-gradient(90deg, rgba(49,61,65,0.5), rgba(49,61,65,0.5)), url(../images/hero-bg.jpg);
  }
  .hero-container {
    max-width: 387px;
    padding: 0 40px;
  }
  .intro {
    margin: 3.8rem 0 0.8rem;
  }
  #me-header-container {
    margin-left: 17.33%;
    width: 65.33%
  }
  section {
    padding: 0 0 3.3rem;
  }
}
@media screen and (min-width: 750px) {
  .hero-container {
    max-width: 460px;
  }
  .learn-more-container {
    font-size: 1rem;
  }
  section {
    padding: 0 0 5rem;
  }
}
@media screen and (min-width: 1000px) {
  .hero-container {
    max-width: 800px;
  }
}

/* Text */
.expertise-logo {
  font-size: 2.2rem;
}
.expertise-summary {
  font-size: 0.9rem;
  margin-bottom: 0px;
}
.expertise-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}
.footer-logo {
  font-size: 2.25rem;
}
#hero-header {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
#hero-logo {
  font-size: 2.5rem;
}
#hero-subheader {
  color: #fff;
  padding-top: 0.75rem;
}
#learn-more-link {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  text-shadow: none;
  transition: all .3s ease-in-out;
}
#learn-more-link:hover {
  color: #fff;
}
#learn-more-chevron {
  margin-top: 0.5rem;
}
.social-logo {
  font-size: 1.1rem;
}
.statement {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}
#sub-footer .statement {
  margin: 0;
}
@media screen and (min-width: 550px) {
  .title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 750px) {
  #hero-header {
    font-size: 2.3rem;
  }
  .intro {
    font-size: 2rem;
    margin: 5rem 0 1rem;
  }
  .statement {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1000px) {
  #hero-header {
    font-size: 3.3rem;
  }
}